.App-header {
    display: flex;
    justify-content: center;
    align-self: center;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7,80px);
    gap: 8px;
}
.calendar-header{
    text-align: center;
    font-size: 16px;
}