@import 'variables.scss';

$circle-size: 30px;
.color-picker {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  &__title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__item {
    display: inline-block;
    width: $circle-size;
    height: $circle-size;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
    &.active {
      border: 2px solid $dark;
    }
  }
}