@import 'variables.scss';
.day {
    background-color: #cccccc;
    border: 1px solid $primary;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 6px;
    &:hover{
        cursor: pointer;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 30px
        }
    }
    &__title {
        margin-left: 4px;
    }
    &__reminder {
        font-size: 10px;
        color: $white;
        margin: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 2px;
    }
}
