@import 'variables.scss';
.day {
    background-color: #cccccc;
    border: 1px solid $primary;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 6px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 30px
        }
    }
    &__title {
        margin-left: 4px;
    }
}
.reminder-calendar{
    font-size: 10px;
    color: lighten($dark, 20%);
    margin: 1px;
}
