@import "variables.scss";

.react-autosuggest {
  &__input {
    min-height: 40px;
    width: 98%;
    border: 1px solid $white;
    border: none;
    border-radius: 6px;
    padding-left: 15px;
    &:focus {
      outline: none;
    }
  }
  &__container {
    position: relative;
    z-index: 1;
  }
  &__suggestions-container {
    position: absolute;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: 0px 5px 10px lighten($dark, 60%);
    ul {
      padding: 0;
      margin: 0;
    }
  }
  &__suggestion {
    list-style: none;
    font-size: 14px;
    padding: 10px 15px;
    &:hover {
      cursor: pointer;
      color: $primary;
      background-color: $bg-gray;
    }
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .react-autosuggest__input {
    width: 100%;
    box-sizing: border-box;
    min-height: auto;
    &::placeholder {
      color: $white;
    }
  }
  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  input {
    height: 30px;
    border: 1px solid $bg-gray;
    border-radius: 6px;
  }
}

.form-control {
  &:focus {
    outline: none;
  }
}

.react-time-picker {
  &__clock {
    border-radius: 6px !important;
    border: 1px solid $bg-gray !important;
    margin-bottom: 15px;
    display: none;
  }
  &__wrapper {
    border-radius: 6px;
    border: 1px solid $bg-gray !important;
    height: 30px;
  }
  &__button {
    background-color: $bg-gray;
  }
  &__inputGroup{
    margin-left: 5px;
  }
}

input.react-time-picker__inputGroup__input {
  border: none;
}

.submit-btn {
  background: $primary;
  border-radius: 6px;
  border: 1px solid $bg-gray;
  transition: .3s;
  color: white;
  padding: 12px 12px;
  &:hover{
    cursor: pointer;
    background: lighten($primary, 10%);
    color: $white;
  }
}

.editable-input {
  border: none;
  height: 30px;
  width: 90%;
  outline: none;
}